<body>
    <div class="changepw-wrapper">
        <form class="changepw-form" action="./Process/changePassword.php?function=changePassword" method="POST">
            <div class="changepw-title">CHANGE PASSWORD</div>
            <div class="changepw-item">
                <input type="password" id="oldpass" name="oldpass" class="changepw-input"
                    placeholder="Enter old password">
                <span class="alert-error"></span>
            </div>
            <div class="changepw-item">
                <input type="password" id="newpassword" name="newpassword" class="changepw-input"
                    placeholder="Enter new password">
                <span class="alert-error"></span>
            </div>
            <div class="changepw-item">
                <input type="password" id="confirmpassword" name="confirmpassword" class="changepw-input"
                    placeholder="Confirm new password">
                <span class="alert-error"></span>
            </div>
            <div>
                <input type="submit" value="Change Password" class="changepw-btn" name="btnChangePass">
            </div>
        </form>
    </div>

    <script src="./Assets/js/Validation.js"></script>
    <script src="./Assets/js/ValidationPass.js"></script>

</body>