<body>
    <div class="changepw-wrapper">
        <form class="changepw-form">
            <div class="changepw-title">CHANGE PASSWORD</div>
            <div class="changepw-item">
                <input type="password" id="oldpass" class="changepw-input" placeholder="Enter old password">
                <span class="alert-error"></span>
            </div>
            <div class="changepw-item">
                <input type="password" id="newpassword" class="changepw-input" placeholder="Enter new password">
                <span class="alert-error"></span>
            </div>
            <div class="changepw-item">
                <input type="password" id="confirmpassword" class="changepw-input" placeholder="Confirm new password">
                <span class="alert-error"></span>
            </div>
            <div>
                <input type="submit" value="Change Password" class="changepw-btn">
            </div>
        </form>
    </div>

    <script src="./Assets/js/Validation.js"></script>
    <script src="./Assets/js/ValidationPass.js"></script>

</body>