<body>

    
        <div class="footer">
            <h2 class="footer-title">CAN THO campus</h2>
            <div class="block-info">
                <div class="left-info">
                    <div class="info-char">UNIVERSITY OF GREENWICH (VIETNAM)</div>
                    <div class="info-char">160 30/4 street, An Phu Ward, Ninh Kieu District, Cantho city</div>
                </div>
                <div class="right-info">
                    <div class="info-char">Email: <a class="link-info"
                            href="mailto: dangph5@fe.edu.vn">dangph5@fe.edu.vn</a></div>
                    <div class="info-char">Phone: <a class="link-info" href="tel:+84336337022">0336337022</a></div>
                </div>
            </div>
            <p class="ft-coppyright">&copy; Greenwich University |&nbsp;
                <!-- PHP code get the year here -->&nbsp;Greenwich PDP copyright</p>
        </div>
   


</body>