<body>
  <!-- The header & title -->
  <div class="header">
    <img class="header-logo" src="./Assets/img/logo.png" alt="Logo" />
    <h1 class="header-title">Event Portal</h1>
  </div>

  <!-- The responsive toggle bar -->
  <div type class="respo">
    <i class="fa-solid fa-bars respo-icon"></i>
  </div>

  <!-- The menu bar -->
  <div class="menu">
    <ul class="menu-bar">
      <li class="menu-item">
        <a href="" class="menu-link">Home</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">Event Log</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">Change Password</a>
      </li>

      <!-- The admin management tab -->
      <li class="menu-item menu-control">
        <p class="menu-link" style="text-align: left">
          Management &nbsp;
          <i class="fa-solid fa-chevron-down menu-drop-icon"></i>
        </p>
        <ul class="lv2-menu-bar">
          <li class="lv2-menu-item">
            <a href="" class="lv2-menu-link">Student</a>
          </li>
          <li class="lv2-menu-item">
            <a href="" class="lv2-menu-link">Major</a>
          </li>
          <li class="lv2-menu-item">
            <a href="" class="lv2-menu-link">Course</a>
          </li>
          <li class="lv2-menu-item">
            <a href="" class="lv2-menu-link">Event</a>
          </li>
          <li class="lv2-menu-item">
            <a href="" class="lv2-menu-link">Device</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">Logout</a>
      </li>
    </ul>
  </div>
</body>
