
    <div class="login-wrapper">
        <form class="login-form" action="../Process/login.php" method="post">
            <div class="login-title">LOGIN</div>
            <div class="login-item">
                <input type="email" id="email-login" name="email-login" class="login-input email" placeholder="✉️ Email">
                <span class="alert-error"></span>
                <span class="alert"></span>
            </div>
            <div class="login-item">
                <input type="password" id="password" name="password" class="login-input" placeholder="🔑 Password">
                <span class="alert-error"></span>
            </div>
            <div>
                <input type="submit" value="Login" class="login-btn" id="btn_login" name="btn_login">
            </div>
        </form>
    </div>


<script src="./Assets/js/ValidationLogin.js"></script>
<script src="./Assets/js/Validation.js"></script>

<script>
    Validator({
        form: '.login-form',
        formGroupSelector: '.login-item',
        errorSelector: '.alert-error',
        rules: [
            Validator.isRequired('#password', 'This field can not empty'),
            Validator.isRequired('#email-login', 'This field can not empty'),
            Validator.isPassword('#password', 6, 20, 'Password must be 6 to 20 characters'),
        ],
    });
</script>