 <body>
    <!-- do not touch my file -->
     <div class="pag-outline">
         <div class="pag-block">
             <div class="pag-item pag-icon-block">
                 <a href="#"><i class="fa-solid fa-angle-left pag-cl"></i></a>
             </div>
             <div class="pag-item">
                 <a class="pag-hplink" href="#"><div class="pag-number">1</div></a>
                 <a class="pag-hplink" href="#"><div class="pag-number">1</div></a>
                 <a class="pag-hplink" href="#"><div class="pag-number">1</div></a>
                 <a class="pag-hplink" href="#"><div class="pag-number">1</div></a>
                 <a class="pag-hplink" href="#"><div class="pag-number">1</div></a>
                 <a class="pag-hplink" href="#"><div class="pag-number">1</div></a>
             </div>
             <div class="pag-item pag-icon-block">
                 <a href="#"><i class="fa-solid fa-angle-right pag-cl"></i></a>
             </div>
         </div>
     </div>
 </body>