<body>

    <div class="changeinfor-wrapper">
        <form class="changepw-form">
            <div class="changepw-title">Update User Information</div>
            <div class="changepw-item">
                <input type="text" id="stuID" class="changepw-input" placeholder="StudentID">
            </div>
            <div class="changepw-item">
                <input type="text" id="stuName" class="changepw-input" placeholder="Student Name">
            </div>
            <div class="changepw-item">
                <input type="text" id="stuEmail" class="changepw-input" placeholder="Email">
            </div>
            <div class="changepw-item">
                <input type="date" id="stuDoB" class="changepw-input" placeholder="Date of Birth">
                <span class="alert-error"></span>
            </div>
            <div class="changepw-item">
                <input type="phone" id="stuPhone" class="changepw-input" placeholder="Phone">
                <span class="alert-error"></span>
            </div>

            <div class="choose-major-infor">
                <span class="infor-title">Major:</span>
                <select class="major-infor" name="major" id="stuMajor">
                    <option value="IT">IT</option>
                    <option value="Business">Business</option>
                </select>
            </div>
            <div class="choose-gender-infor">
                <p class="gender-label">Gender:</p>
                <input id="stuGender" type="radio" name="gender" class="type-gender-user" value="Male"
                    checked><span>Male</span>
                <input id="stuGender" type="radio" name="gender" class="type-gender-user"
                    value="Female"><span>Female</span>
            </div>

            <div>
                <input type="submit" value="Update Information" class="changepw-btn">
            </div>
        </form>
    </div>


    <script src="./assets/js/Validation.js"></script>

    <script src="./assets/js/ValidationInfo.js"></script>

</body>